<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
    <div class="navbar">
      <div><a href="/">Home</a></div>
    </div>
  <body>
    <%= yield %>
  </body>
</html>
